.block {
    max-width: 800px;
    margin: 0 auto;
    .block_content {
        padding: 25px;
        .tennis {
            height: 239px;
            width: 336px;
            background: url('./tennis.png');
            margin-bottom: 10px;
        }
        .date {
            margin: 25px 0px;
            color: grey;
            font-size: 20px;
        }
        .info {
            margin: 25px 0px;
            width: 45%;
            font-family: Gilroy;
            font-size: 21px;
            font-weight: 600;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: left;
        }
        button {
            margin: 25px 0px;
            border-radius: 0px;
            padding: 10px 20px 10px 20px;
            font-family: Gilroy;
            font-size: 18px;
            font-weight: 600;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: left;
            background: #8D86C9;
            border: none;
            margin: 15px 0px;
            color: white;
            font-size: 25px;
        }
        .star-rating {
           button {
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
          }
          .on {
            color: yellow;
          }
          .off {
            color: #ccc;
          }
        }
    }
}